NATS_URL=nats://nats:4222
GATEWAY_PORT=3000

SPORTS_CATALOG_SERVICE_PORT=3001
DATABASE_NAME_SPORTS_CATALOG=
DATABASE_URL=

COMPETITION_ENGINE_SERVICE_PORT=3002
DATABASE_URL_COMPETITION_ENGINE=

NATIONAL_TEAMS_MS_PORT=3003
DATABASE_URL_NATIONAL_TEAMS=

AUTH_MS_PORT=3004
DATABASE_URL_AUTH=
AUTH_SALT=10
AUTH_JWT_SECRET=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=e
MAIL_PASS=
MAIL_FROM=


RETAIL_MS_PORT=3005
DATABASE_URL_RETAIL=

CUSTOMER_AUTH_MS_PORT=3006
DATABASE_URL_CUSTOMER_AUTH=

TICKETS_SERVICE_PORT=3007
DATABASE_URL_TICKETS=

# CONTENT SERVICE (GO)
CONTENT_MS_PORT=3008
DATABASE_URL_CONTENT=